@inject web.Client.Auth.AuthApiService AuthApi
@inject NavigationManager Navigation

<button @onclick="OnLogout" title="Log Out">
    <span class="material-symbols-outlined">logout</span>
</button>

@code {
    private async Task OnLogout()
    {
        await AuthApi.LogoutAsync();
        Navigation.NavigateTo("/login", true);
    }
}