@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="body">
    <header>
        <img class="header_icon" src="/dash_text.png"/>

        <a href="/">
            <button>
                <span class="material-icons">home</span>
                <span><strong>Home</strong></span>
            </button>
        </a>

        <a href="/targets/home">
            <button>
                <span class="material-icons">menu</span>
                <span><strong>Targets</strong></span>
            </button>
        </a>

        <a href="/monitoring/home">
            <button>
                <span class="material-icons">search</span>
                <span><strong>Monitoring</strong></span>
            </button>
        </a>

        <a href="/settings/home">
            <button>
                <span class="material-icons">settings</span>
                <span><strong>Settings</strong></span>
            </button>
        </a>

        <a href="/logs/home">
            <button>
                <span class="material-symbols-outlined">article</span>
                <span><strong>Logs</strong></span>
            </button>
        </a>
    </header>
    <content>
        @Body

        <Notification @bind-Hidden="@_notifHidden" />
    </content>
</div>

@code {
    private bool _notifHidden = true;
}