<div class="settings_card">
    <header>
        <h3></h3>
    </header>
    <content>
        <table>
            <tr>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </content>
</div>
