@if (IsVisible)
{
    <div class="settings_card">
        <header>
            <h3>Telegram Settings</h3>
        </header>
        <content>
            <table>
                <tr>
                    <td>
                        Telegram Token:
                    </td>
                    <td>
                        <input type="text" @bind="@_currentSettings.BotToken" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Telegram Chat ID (Username):
                    </td>
                    <td>
                        <input type="text" @bind="@_currentSettings.ChatId" />
                    </td>
                </tr>
            </table>
        </content>
    </div>
}

@code {
    [Parameter] required public TelegramSettings CurrentSettings { get; set; }
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }
    private TelegramSettings _currentSettings = new TelegramSettings();

    protected override void OnParametersSet()
    {
        if (null != CurrentSettings && CurrentSettings != _currentSettings)
        {
            _currentSettings = CurrentSettings;
        }
        base.OnParametersSet();
    }
}
