@if (MonitorHistoryVisible)
{
    <div class="faded_background">
        <div class="popup_back" id="monitor_history">
            <header>
                @if (null != MonitorStates.First().Target)
                {
                    <button id="viewbutton" onclick="@(() => OnClickView(MonitorStates.First().Target))">
                        <span title="View parent IP address" class="material-icons">search</span>
                    </button>
                }
                <button onclick="@OnClickCancel">
                    <span class="material-icons">cancel</span>
                </button>
            </header>
            <article>
                <table>
                    <tr>
                        <th>
                            Submit Time
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Target
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                    @foreach (var state in MonitorStates)
                    {
                        <MonitorStateRow BaseMonitorState="state" TargetClicked="@OnClickView" ExpandedView="false"/>
                    }
                </table>
            </article>
            <footer>

            </footer>
        </div>
    </div>
}

@code {
    [Parameter] public required List<BaseMonitorState> MonitorStates { get; set; }
    [Parameter] public required EventCallback<BaseMonitoringTarget> ViewClicked { get; set; }
    [Parameter] public required bool MonitorHistoryVisible { get; set; }
    [Parameter] public required EventCallback<bool> MonitorHistoryVisibleChanged { get; set; }

    private void OnClickCancel()
    {
        MonitorHistoryVisible = false;
    }

    private async void OnClickView(BaseMonitoringTarget target)
    {
        MonitorHistoryVisible = false;
        await ViewClicked.InvokeAsync(target);
    }
}
