@if (Visible)
{
    <div>
        <header>
            <button id="expand" @onclick="@OnClickExpand">
                <span class="material-icons">expand</span>
            </button>
        </header>
        <article id="monitor_states">
            @if (_lastPolls.Count > 0)
            {
                <div>
                    <table>
                        <tr>
                            <th>Address</th>
                            <th></th>
                            <th>Hostname</th>
                            <th>Target</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        @foreach (var poll in _lastPolls)
                        {
                            <MonitorStateRow BaseMonitorState="poll" EditClicked="@OnClickEdit" 
                                HistoryClicked="@OnClickHistory" TargetClicked="@OnClickView" />
                        }
                    </table>
                </div>
            }
        </article>
    </div>
}

@code {
    [Parameter] public required List<BaseMonitoringTarget> BaseMonitoringTargets { get; set; }
    private List<BaseMonitoringTarget> _baseMonitoringTargets = [];

    [Parameter] public required EventCallback<List<BaseMonitoringTarget>?> TargetsChanged { get; set; }
    [Parameter] public required EventCallback<BaseMonitoringTarget> ViewClicked { get; set; }
    [Parameter] public required EventCallback<BaseMonitoringTarget> EditClicked { get; set; }
    [Parameter] public required EventCallback<BaseMonitoringTarget> HistoryClicked { get; set; }
    [Parameter] public required bool Visible { get; set; }
    [Parameter] public required EventCallback<bool> VisibleChanged { get; set; }
    [Parameter] public required EventCallback<string> ExpandChanged { get; set; }
    [Parameter] public required TimeSpan ViewLength { get; set; }
    [Parameter] public required EventCallback<TimeSpan> ViewLengthChanged { get; set; }

    private bool _expanded = false;
    private List<BaseMonitorState> _lastPolls = [];

    protected override Task OnParametersSetAsync()
    {
        if (_baseMonitoringTargets != BaseMonitoringTargets)
        {
            _baseMonitoringTargets = BaseMonitoringTargets;

            _lastPolls = [];
            _lastPolls.AddRange(PortState.GetMostRecentStatesFromListMonitoringTargets(_baseMonitoringTargets));
            _lastPolls.AddRange(PingState.GetMostRecentStatesFromListMonitoringTargets(_baseMonitoringTargets));
        }

        StateHasChanged();
        return base.OnParametersSetAsync();
    }

    private async void OnClickView(BaseMonitoringTarget target)
    {
        await ViewClicked.InvokeAsync(target);
    }

    private async void OnClickEdit(BaseMonitoringTarget target)
    {
        await EditClicked.InvokeAsync(target);
    }

    private async void OnClickHistory(BaseMonitoringTarget target)
    {
        await HistoryClicked.InvokeAsync(target);
    }

    private async Task OnClickExpand()
    {
        if (_expanded)
        {
            await ExpandChanged.InvokeAsync("undo");
            _expanded = false;
        }
        else
        {
            await ExpandChanged.InvokeAsync("monitorstates");
            _expanded = true;
        }
    }
}
