@if (Visible)
{
    <div id="stats_card">
        <header>
            <button id="expand" @onclick="@OnClickExpand">
                <span class="material-icons">expand</span>
            </button>
        </header>
        <article>

            @if (null != _lastPoll)
            {
                <div>
                    <span><strong>Last Poll Statistics:</strong></span>
                    <table>
                        <tr>
                            <td>
                                Poll Time:
                            </td>
                            <td>
                                @_lastSubmitTime
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Monitored:
                            </td>
                            <td>
                                @_lastMonitored
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Online:
                            </td>
                            <td>
                                @_lastOnline
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Offline:
                            </td>
                            <td>
                                @_lastOffline
                            </td>
                        </tr>
                    </table>
                </div>
            }
            @if (_allPolls.Count > 0)
            {
                <div>
                    <span><strong>All Time Statistics:</strong></span>
                    <table>
                        <tr>
                            <td>
                                Polls:
                            </td>
                            <td>
                                @_totalPolls
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Successful Polls:
                            </td>
                            <td>
                                @_successPolls
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Failed Polls:
                            </td>
                            <td>
                                @_failedPolls
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Monitored Devices:
                            </td>
                            <td>
                                @_monitored
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </article>
    </div>

}


@code {
    [Parameter] public required List<IP>? IPAddresses { get; set; }
    [Parameter] public required EventCallback<List<IP>?> IPAddressesChanged { get; set; }
    [Parameter] public required bool Visible { get; set; }
    [Parameter] public required EventCallback<bool> VisibleChanged { get; set; }
    [Parameter] public required EventCallback<string> ExpandChanged { get; set; }
    [Parameter] public required TimeSpan ViewLength { get; set; }
    [Parameter] public required EventCallback<TimeSpan> ViewLengthChanged { get; set; }

    MonitorState _lastPoll = new() { SubmitTime = new DateTime() };
    List<MonitorState> _lastPolls = [];
    List<MonitorState> _allPolls = [];

    private int _monitored;
    private int _failedPolls;
    private int _successPolls;
    private int _totalPolls;

    private int _lastMonitored;
    private int _lastOffline;
    private int _lastOnline;
    DateTime _lastSubmitTime;

    public bool _expanded = false;


    protected override async Task OnParametersSetAsync()
    {
        if (IPAddresses != null && IPAddresses.Count > 0)
        {
            _lastPolls = MonitorState.GetLastDevicePollsFromIps(IPAddresses);
            _allPolls = MonitorState.GetAllDevicePollsFromIps(IPAddresses);

            _successPolls = _allPolls.Where(x => x.PingState != null && x.PingState.Response == true).Count();
            _failedPolls = _allPolls.Where(x => x.PingState != null && x.PingState.Response == false).Count();
            _totalPolls = _allPolls.Count();
            _monitored = IPAddresses.Count(); // api needs to return where icmpmonitored is no longer true

            _lastMonitored = IPAddresses.Count();
            _lastOffline = _lastPolls.Where(x => x.PingState != null && x.PingState.Response == true).Count();
            _lastOnline = _lastPolls.Where(x => x.PingState != null && x.PingState.Response == false).Count();

            if (_lastPolls.Count > 0)
            {
                _lastPoll = _lastPolls.OrderByDescending(x => x.SubmitTime).First();
                _lastSubmitTime = _lastPoll.SubmitTime;
            }
        }

        await base.OnParametersSetAsync();
        StateHasChanged();
    }

    private async Task OnClickExpand()
    {
        if (_expanded)
        {
            await ExpandChanged.InvokeAsync("undo");
            _expanded = false;
        }
        else
        {
            await ExpandChanged.InvokeAsync("stats");
            _expanded = true;
        }
    }
}
