:root {
    --black: rgb(36, 37, 46);
    --grey: rgb(51, 52, 70);
    --grey-transparent: rgba(51, 52, 70, 0.5);
    --light-grey: rgb(70, 71, 94);
    --light-grey-transparent: rgba(70, 71, 94, 0.5);
    --primary: rgb(127, 140, 170);
    --primary-light: rgb(160, 171, 201);
    --secondary: rgb(148, 162, 196);
    --white: rgb(215,215,215);
    --info: rgb(143, 174, 242);
    --info-dark: rgb(98, 131, 201);
    --warning: rgb(209, 139, 139);
    --warning-dark: rgb(191, 121, 121);
    --error: rgb(196, 69, 69);
    --error-dark: rgb(186, 44, 44);
    font-family: "Roboto";
    color: var(--white);
    font-size: 18px;
    box-sizing: border-box;
}

.material-icons {
    font-size: 18px;
    line-height: 1; 
    vertical-align: middle; 
    position: relative;
    padding: 5px;
}

.material-symbols-outlined {
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
    position: relative;
    padding: 5px;
}

.navlink_match {
    background-color: var(--grey) !important;
}

.body {
    background-color: var(--black);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

    .body > header {
        display: flex;
        justify-content: center;
        background-color: var(--black);
        box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
        height: 2.8rem;

        a, button {
            padding: 0.5rem;
            background-color: var(--black);
            height: 100%;
            border-color: rgba(0,0,0,0);
            color: var(--white);
            text-wrap: nowrap;
            display: flex;
            align-items: center;
            text-decoration: none;

            .material-symbols-outlined, .material-icons {
                padding: 0;
                font-size: 17px;
            }
        }

        a, button:hover {
            transform: scale(1.02);
            color: white;
        }

        > img {
            height: 100%;
            align-self: flex-start;
            margin-right: auto;
            padding: 10px;
        }

        button:last-of-type {
            margin-right: auto;
        }
    }

    .body > header:not(:has(button)) {
        a:last-of-type {
            margin-right: auto;
        }
    }

    .body > content {
        background-color: var(--black);
        background-image: url(/background.jpg);
        background-image: url(/background.jpg), radial-gradient(circle,rgba(57, 62, 102, 1) 0%, rgba(51, 51, 77, 1) 75%);
        flex: 1;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 2.8rem);
        width: 100vw;
        padding: 1rem;

        > article {
            height: calc(100vh - 4.8rem);
            width: calc(100vw - 2rem);
            border-radius: 10px;
            background-color: var(--grey-transparent);
            box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
            display: flex;
            flex-direction: column;
            overflow: hidden;

            > header {
                background-color: var(--black);
                padding: 0.1rem;
                display: flex;
                flex-direction: row;
                min-height: 2.5rem;
                position: sticky;
                top: 0;
                z-index: 25;
                box-sizing: border-box;
                align-items: center;

                button {
                    background-color: var(--black);
                }

                > select {
                    max-width: 10rem;
                }

                > span {
                    margin-left: auto;
                    margin-right: 0;
                    display: flex;
                }
            }

            > content {
                min-height: calc(100% - 2.7rem);
                overflow-y: auto;
                width: calc(100vw - 2rem);
                overflow-x: clip;
                padding: 1rem;
            }

            > footer {
            }
        }
    }

img {
    background: transparent;
}

button {
    padding: 0.5rem;
    background-color: var(--black);
    height: 2.5rem;
    border-color: rgba(0,0,0,0);
    color: var(--white);
    text-wrap: nowrap;
    display: flex;
    align-items: center;
}

button:hover {
    transform: scale(1.02);
    color: white;
}

button.green {
    color: green;
}

    button.green:hover {
    transform: scale(1.02);
    color: limegreen;
}

button.red {
    color: darkred;
}

    button.red:hover {
    transform: scale(1.02);
    color: red;
}

    a:link {
    color: rgba(0,0,0,0);
}

input {
    background-color: var(--light-grey);
    color: var(--black);
    border-style: none;
    border-radius: 3px;
}

input[type="text"] {
    height: 2.5rem;
}

input[type=number] {
    height: 2.5rem;
}

input::placeholder {
    color: var(--white);
}

    input:focus {
    outline-color: var(--light-grey);
    background-color: var(--grey);
    color: var(--white);
}

select {
    background-color: var(--light-grey);
    color: var(--white);
    border-style: none;
    border-radius: 3px;
    width: 100%;
    height: 2rem;
}

select:focus {
    outline-color: var(--light-grey);
    background-color: var(--grey);
}

textarea {
    background-color: var(--light-grey);
    color: var(--white);
    border-style: none;
    border-radius: 3px;
    width: 100%;
    min-height: 6rem;
    resize: vertical;
}

    textarea:focus {
    outline-color: var(--light-grey);
    background-color: var(--grey);
}

@-webkit-keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(0.5deg);
    }

    55% {
        transform: rotate(-0.5deg);
    }

    70% {
        transform: rotate(0deg);
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--light-grey);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.dashboard_layout {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 20vw));
    gap: 2rem;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.dashboard_card {
    background-color: var(--grey);
    border-radius: 10px;
    display: flex;
    max-height: 7rem;
    max-width: 20vw;
    min-width: fit-content;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    position: relative;
    z-index: 25;
}

.dashboard_card > div#img {
    flex-grow: 0;
    max-width: 25%;
    display: flex;
    background-color: var(--light-grey);
    border-radius: 0 0 0 7px;
    padding: 5px;

    > img {
        max-width: 100%;
        max-height: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
}

    .dashboard_card > upload_item_box {
    float: left;
}

    .dashboard_card > article {
    float: right;
    flex-grow: 1;

    > header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 3px;
        background-color: var(--black);
        color: var(--white);

        > button {
            margin-left: auto;

            > span {
                font-size: 14px;
            }
        }

        > span {
            padding-left: 5px;
        }
    }

    > content {
        color: var(--white);

        > table {
            margin: 5px;
        }
    }

    > footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--light-grey);
        max-height: 4rem;
    }
}

.dashboard_card:hover {
    zoom: 1.02;
}

.dashboard_card_editor {
    background-color: var(--grey);
    color: var(--white);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    max-width: 50vw;
    min-width: 20vw;
    margin: 1rem;
    flex-grow: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-height: 80vh;
    z-index: 200;
}

.dashboard_card_editor > div {
    max-width: 30%;
    position: relative;

    > img {
        max-width: 100%;
    }
}

.dashboard_card_editor > div > button {
    top: 1rem;
    right: 1rem;
    position: absolute;
}

.dashboard_card_editor > img {
    height: 10rem;
    width: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

    .dashboard_card_editor > upload_item_box {
    flex-grow: 0;
    flex-shrink: 0;
}

    .dashboard_card_editor > article {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        min-height: 0;

        > header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 5px;
            background-color: var(--black);
            flex-shrink: 0;
            color: var(--white);

            p {
                font-size: 14px;
                margin: auto 1rem auto 1rem;
            }
        }

        > content {
            flex-grow: 1;
            overflow-y: auto;
            min-height: 0;
            padding: 10px;

            table {
                width: 100%;
                gap: 5px;
                display: flex;
                flex-direction: column;

                img {
                    height: 8rem;
                    max-width: 8rem;
                }

                > tr {
                    > td {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        > span {
                            margin-left: 5px;
                            height: 100%;
                        }

                        > input[type="text"] {
                            width: 100%;
                        }

                        > select {
                            width: 100%;
                            color: var(--black);
                        }

                            > select:focus {
                                background-color: var(--grey);
                                color: var(--white);
                            }

                        > textarea {
                            color: var(--black);
                        }

                        > textarea:focus {
                            background-color: var(--grey);
                            color: var(--white);
                        }

                        > input[type="radio"] {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        > footer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: var(--black);
            flex-shrink: 0;
        }
    }

.faded_background {
    background-color: rgba(0,0,0,0.7);
    z-index: 75;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

.notification {
    z-index: 1000;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--primary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;
    border-color: var(--black);

    > header {
        display: flex;
        justify-content: center;
        padding: 5px;
        background-color: var(--black);
        color: var(--white);

        > span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    > content {
        flex: 1;
        justify-content: center;
        padding: 5px;

        > span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.upload_item_box {
    width: 8rem;
    height: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    border-style: dashed;
    border-color: var(--light-grey);
    border-width: 1px;
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;

    label {
        height: 100%;
        width: 100%;
        display: flex;

        span {
            margin: auto;
        }
    }
}

.upload_item_box:hover {
    background-color: var(--primary);
    border-color: var(--grey);
    transform: scale(1.02);
    color: var(--white);
}

.dashboard_folder_view {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30vw;
    border-radius: 10px;
    background-color: var(--black);
    z-index: 110;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    max-height: 15rem;
    min-width: fit-content;
    overflow: hidden;


    > header {
        background-color: var(--black);
        color: var(--white);
        padding: 0.5rem;
        display: flex;
        flex-direction: row;

        > span {
            display: flex;
            align-items: center;

            > span {
                margin-right: 5px;
            }
        }

        > div {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: end;

            > button {
                margin-right: 5px;
            }
        }
    }

    > article {
        padding: 1rem;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(auto-fill, minmax(10vw, 20vw));
        gap: 2rem;
        width: 100%;
        overflow-y: auto;
        max-height: 12rem;
        min-width: fit-content;
        background-color: var(--light-grey);
    }
}

.subnet_layout {
    color: var(--white);
    padding: 10px;
}

    .subnet_layout > table {
    width: 100%;
    text-align: center;

    > tr {
        width: 100%;
    }
}

.subnet_card {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);

    input {
        background-color: var(--light-grey);
    }

    button {
        background-color: var(--grey);
    }

    > td {
        padding: 5px;
        background-color: var(--grey);

        > div {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;

            > input[type="text"] {
                flex: 1;
                max-width: 30rem;
                margin: 2px;
            }
        }
    }
}

    .subnet_card:hover {
    transform: scale(1.002);
    color: white;
}

.subnet_editor {
    background-color: var(--grey);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    min-width: 20vw;
    margin: 1rem;
    flex-grow: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-height: 80vh;
    overflow: hidden;

    input {
        width: 100%;
        color: var(--white);
    }
}

.subnet_editor > article {
    overflow: auto;
    resize: vertical;

    > table {
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;

        > tr {
            display: flex;
            flex-direction: row;

            > td {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 5px;
                flex: 1;
                gap: 5px;
                color: var(--white);
            }
        }
    }
}

    table {
    > tr#ip {
        > td {
            > span {
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 10px;
            }

            > button {
                margin-right: 5px;
                margin-left: auto;
            }
        }
    }

    > tr#ip:nth-child(odd) {
        background-color: var(--primary-light);
        color: var(--black);
    }

    > tr#ip:nth-child(even) {
        background-color: var(--primary);
        color: var(--black);
    }
}

.subnet_editor > header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--black);
    color: var(--white);

    > span {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 10px;
    }

    > button {
        margin-left: auto;
        margin-right: 5px;
    }
}

    .subnet_editor > footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--black);
}

.ip_layout {
    background-color: var(--black);

    > td {
        padding: 10px;
    }
}

    .ip_layout > td > table {
    width: 100%;
    min-height: 10vh;
    height: 30vh;
    max-height: 50vh;
    overflow: auto;
    resize: vertical;
    display: block;

    > tr:has(th):not(:has(> td)) {
        background-color: var(--black);
        position: sticky;
        top: 0;
        z-index: 50;
    }

    > tr {
        table-layout: fixed;
        display: table;
        width: 100%;
        z-index: 40;
    }
}

    .ip_row {
    background-color: var(--grey);
    color: var(--white);

    > td {
        padding: 5px;

        > div {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            gap: 5px;
        }
    }
}

    .ip_row:hover {
        background-color: var(--light-grey);
    }

.ip_editor {
    background-color: var(--grey);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    min-width: 20vw;
    margin: 1rem;
    flex-grow: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-height: 80vh;
    color: var(--white);

    header {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: var(--black);
        color: var(--white);

        > span {
            margin-top: auto;
            margin-bottom: auto;
            padding-left: 5px;
        }

        > button {
            margin-left: auto;
            margin-right: 5px;
        }
    }

    article {
        > table {
            padding: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;

            > tr {
                display: flex;
                flex-direction: row;

                > td {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding: 5px;
                    flex: 1;
                    gap: 5px;

                    > input[type="text"] {
                        width: 100%;
                    }

                    > div {
                        width: 50%;
                        text-align: center;
                        background-color: var(--light-grey);
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--black);
    }
}

.settings_layout {
    display: block;
    column-width: 500px;
    column-gap: 2rem;
    width: calc(100vw-4rem);
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    height: fit-content;
}

    .settings_layout > div {
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
        background-color: var(--primary);
        display: inline-block;
        width: 100%;
        break-inside: avoid;
        margin: 0 0 2rem 0;
        height: fit-content;
        overflow: hidden;

        > content {

            table {
                width: 100%;

                h3 {
                    font-size: 22px;
                    margin-top: 5px;
                    margin-bottom: 2px;
                }

                td {
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                }

                input {
                    background-color: var(--secondary);
                    width: 100%;
                }

                    input:focus {
                        outline-color: var(--light-grey);
                        background-color: var(--grey);
                        color: var(--white);
                    }

                .upload_item_box {
                    height: 4rem;
                    margin-bottom: 3px;
                    width: 4rem;
                }
            }
        }

        > header {
            background-color: var(--black);
            color: var(--white);
            padding: 10px;
            border-radius: 5px 5px 0px 0px;
            text-align: center;

            h3 {
                font-size: 24px;
                margin: 0;
            }
        }
    }

.monitoring_layout {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;

    > div {
        flex: 1 1 45%;
        background-color: var(--light-grey);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
        display: flex;
        flex-direction: column;

        > header {
            display: flex;
            flex-direction: row;
            background-color: var(--black);
            padding: 10px;
            height: 1.6rem;

            button {
                background-color: var(--black);
                padding: 1px;
                font-size: 9px;
                height: auto;
            }

            > button#expand {
                margin-right: 0;
                margin-left: auto;
            }
        }

        article {
            flex: 1;
            display: flex;
        }
    }
}

.monitoring_layout:has(> div:nth-child(4):last-child) > div {
    max-height: 50%;
}

article#monitor_states {
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding: 20px;

    > div {
        flex: 1;
        overflow-y: auto;
        border-radius: 10px;
        background-color: var(--grey);
        padding: 2px;
    }
}

    article#monitor_states > div > table {
        width: 100%;
        text-align: center;

        > tr:has(td) {
            background-color: var(--grey) !important;
        }

            > tr:has(td):hover {
                background-color: var(--light-grey) !important;
            }

        > tr:has(th) {
            position: sticky;
            top: 0;
            z-index: 50;
            background-color: var(--black);
            color: var(--white);
        }

        td {
            color: var(--white);
            
            > button {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

.apexcharts-canvas {
    margin: auto;
    max-height: 90%;
}

#apex_chart {
    flex: 1;
    margin: 10px;
    background-color: var(--grey);
    border-radius: 10px;
    padding: 20px;
}

.apexcharts-text {
    color: var(--white);
    fill: var(--white);
}

.apexcharts-title-text {
    color: var(--white);
    fill: var(--white);
}

.apexcharts-legend-text {
    color: var(--white) !important;
    fill: var(--white) !important;
}

div#uptime_chart {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    gap: 10px;
    width: 100%;

    .apexcharts-canvas {

        .apexcharts-heatmap-rect {
            stroke: initial !important;
        }
    }

    .left {
        #apex_chart {
            margin: 0 !important;
        }

        .apexcharts-svg {
            height: fit-content;
        }

        .apexcharts-inner {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    #apex_chart {
        width: 100%;
        background-color: var(--grey);
        border-radius: 10px;
    }

    > div {
        background: var(--grey);
        border-radius: 10px;
        width: 50%;
        box-sizing: border-box;
    }
}

.monitoring_layout > div#stats_card {
    display: flex;
    flex-direction: column;

    > article {
        display: flex;
        padding: 5px;
        box-sizing: border-box;

        > div {
            background-color: var(--grey);
            color: var(--white);
            text-align: center;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            padding: 5px;
            margin: 5px;
            justify-content: center;
        }
    }
}

div#stats_card > article > div > table {
    width: 100%;
    background-color: var(--grey);
    text-align: center;
    table-layout: fixed;
    z-index: 40;

    td {
        padding: 1px;
    }

    th {
        padding: 1px;
    }

    > tr:has(th) {
        position: sticky;
        top: 0;
        background-color: var(--secondary);
    }
}

.popup_back {
    background-color: var(--grey);
    border-radius: 10px;
    border-color: var(--grey);
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    min-width: 20vw;
    flex-grow: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-height: 80vh;

    header {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: var(--black);
        color: var(--white);
        justify-content: flex-end;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--black);
    }
}

.popup_back#ip_view > article {
    padding: 2rem;

    > table {
        width: 100%;
        text-align: center;
    }
}

.popup_back#monitor_history > article {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    > table {
        width: 100%;
        text-align: center;
        table-layout: fixed;

        > tr:has(th) {
            padding-top: 5px;
            position: sticky;
            top: 0;
            background-color: var(--grey);
            color: var(--white);
        }
    }
}

div#clock {
    padding: 20px;
    text-align: center;

    > span {
        font-size: 30px;
        font-weight: 400;
    }
}

div#statusdashcard {
    text-align: center;
    padding: 20px;
}

.log_table_wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);

    > div {
        display: flex;
        flex-direction: row;
        background-color: var(--black);
        width: 100%;
        position: sticky;
        z-index: 100;
        top: 0;

        button {
            background-color: var(--black);
        }
    }
}

.log_table {
    width: 100%;
    table-layout: auto;

    tr.warning {
        background-color: var(--warning);
        line: 133;
    }

        tr.warning:hover {
            background-color: var(--warning-dark);
        }

    tr.info {
        background-color: var(--info);
    }

        tr.info:hover {
            background-color: var(--info-dark);
        }

    tr.error {
        background-color: var(--error);
    }

        tr.error:hover {
            background-color: var(--error-dark);
        }

    td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

        td:nth-child(1) {
            min-width: 200px;
            text-align: center;
        }

        td:nth-child(2),
        td:nth-child(3) {
            min-width: 100px;
            text-align: center;
        }

        td:nth-child(4) {
            width: auto;
        }
}

.background_image_settings {
    max-height: 6rem;
    max-width: 6rem;
    position: relative;

    img {
        max-height: 5rem;
        max-width: 5rem;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0px;
        font-size: 12px;
        height: 1.8rem;
        width: 1.8rem;

        span {
            margin: auto;
        }
    }
}

.login_wrapper {
    margin: auto;
    background-color: var(--grey-transparent);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);

    table {
        font-size: 20px;

        td {
            padding: 4px;

            button {
                margin-top: 5px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
