@page "/login"
@using DashLib.DTO.Auth
@inject web.Client.Auth.AuthApiService AuthApi
@inject NavigationManager Navigation
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthStateProvider


<div class="login_wrapper">
    <EditForm Model="@credentials" OnValidSubmit="HandleLogin" FormName="LoginForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <table>
            <tr>
                <td>Username:</td>
                <td>
                    <InputText @bind-Value="credentials.UserName" />
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <InputText @bind-Value="credentials.Password" type="password" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Sign in</button>
                </td>
            </tr>
        </table>
    </EditForm>

    @if (!string.IsNullOrEmpty(Error))
    {
        <div class="error">@Error</div>
    }
</div>

@code {
    private LoginRequestDto credentials { get; set; } = new LoginRequestDto();
    private string? Error;

    private async Task HandleLogin()
    {
        if (null == credentials) return;

        Error = null;
        try
        {
            Console.WriteLine($"{credentials.UserName}, {credentials.Password}");
            var result = await AuthApi.LoginAsync(credentials);
            if (result is null)
            {
                Error = "Login failed. Check credentials.";
                return;
            }
            else
            {
                Navigation.NavigateTo("/");
            }
        }
        catch(Exception ex)
        {
            Error = ex.Message;
        }
    }
}