@implements IDisposable

<div id="device-status">

</div>

@code {
    private System.Timers.Timer? _timer;



    public void Dispose()
    {
        _timer?.Stop();
        _timer?.Dispose();
    }
}
