@implements IDisposable
@inject IMonitorStatesAPI MonitorStateService
@inject IMonitorTargetAPI MonitorTargetService
@using System.Globalization

<div id="statusdashcard">
    @if (null != ipAddress) {
        @IpMonitoringTarget.ConvertToString(ipAddress.Address)
        <br />
    }
    @if (_dateString != string.Empty)
    {
        <span>Last Poll: @_dateString</span>
        <br />
    }
    <span>Device Status: @if (currentStatus) { <strong>Online</strong> } else { <strong>Offline</strong> } </span>
</div>

@code {
    [Parameter] required public DeviceStatusWidget Widget { get; set; }
    private System.Timers.Timer? _timer;
    private bool currentStatus = false;
    private string _dateString = string.Empty;
    private IpMonitoringTarget? ipAddress;

    protected override async Task OnInitializedAsync()
    {
        _timer = new System.Timers.Timer(30000);
        _timer.Elapsed += TimerElapsed;
        TimerElapsed(this, null);
        _timer.Start();

        ipAddress = await MonitorTargetService.GetIpTargetByIdAsync(Widget.IP_ID);

        await base.OnInitializedAsync();
    }

    private async void TimerElapsed(object? source, System.Timers.ElapsedEventArgs? e)
    {
        var status = await MonitorStateService.GetIpMonitorStatesByDeviceIdAsync(Widget.IP_ID);
        var ping = PingState.GetMostRecentStateFromMonitoringTarget(status).OrderByDescending(x => x.Timestamp).First();

        if (ping != null)
        {
            currentStatus = ping.Response;
            _dateString = ping.Timestamp.ToString("HH:mm:ss");
        }
        else
        {
            _dateString = "No monitor stats for device";
        }

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        if (null != _timer)
        {
            _timer.Elapsed -= TimerElapsed;
            _timer.Stop();
            _timer.Dispose();
            _timer = null;
        }
    }
}
